.jamiik-img-border {
	border-color: rgb(171, 149, 58);
    border-top-width: thick;
	border-top-style: solid;
	border-left-width: thick;
	border-left-style: solid;
	border-right-width: thick;
	border-right-style: solid;
	border-bottom-width: thick;
	border-bottom-style: solid;
}

.jamiik-section{
    padding-top: 50px;
    padding-bottom: 0;
}
